
<div id="menu">
	
	<table style="float: right; ">
		<tr style="background-color: #505050; ">
			<td>GitHub:</td>
			<td>
				<a href="http://github.com/kaneuniversal/songzify">main</a>
			</td>
		</tr>
	</table>

	<table>
		<tr>
			<td>Remote:</td>
			<td>
				<a href="http://songzify.herokuapp.com">main</a>
			</td>
		</tr>
		<tr style="background-color: #333; ">
			<td>Local:</td>
			<td>
				<a href="http://localhost:5010">main</a>
			</td>
		</tr>
	</table>

</div>