#songzify {

	width: 100%; 
	height: 10000px; 
	background: black; 
	padding: 0 10px 10px 10px; 
	color: yellow; 
	
	.frame {
		clear: both; 
		width: 100%; 
		//height: 400px; 
		text-align: center; 

		img.img {
			cursor: pointer; 
			margin: 0 auto; 
			margin-top: 0; 
			border: 10px solid white; 

			transition: opacity 1s ease-in-out;
			-webkit-transition: opacity 1s ease-in-out;

			&.faded {
				opacity: 0.01;
			}

		}

	}

	.cols {

		&> div {
			display: none; 
			float: left; 
			width: 33%; 

			button {

				border: none !important; 
				
				&.on {
					color: blue; 
				}

			}

		}

		.songza {

			position: absolute; 
			left: 0; 
			top: 0; 
			display: block !important; 

			.songinfo {

				color: #FFF; 
				transition: opacity 1s ease-in-out;
				-webkit-transition: opacity 1s ease-in-out;

				&.faded {
					opacity: 0.001;
				}

				.title {font-size: 2em; }

				.text {font-size: 1.2em; }

				.artist {font-size: 1.2em; }

				.links {
					padding: 10px; 
					margin-bottom: 10px; 
					a {
						color: #FFC; 
						&:link {color: #FFC; }
						&:visited {color: #FFC; }
						&:hover {color: #FFC; }
						&:active {color: #FFC; }
					}
				}

			}

		}

		.spotify {
			
		}

		.flickr {
			
		}

	}

	ul.logs {

		clear: both; 
		display: none; 
		position: absolute;
		left: 5px; 
		top: 5px; 
		width: 420px; 

		&.show {
			display: block; 
		}

		li {
			color: yellow; 
			clear: both; 
			span {
				color: #505050; 
				float: right; 
			}
		}

	}

}